@tailwind base;
@tailwind components;
@tailwind utilities;



/*.Home-Container {
  background-image: url('D:\Mern\portfolio\src\Images\Image 3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}*/

.custom-underline {
  position: relative;
  display: inline-block;
  color: black;
}

.custom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%;
  height: 2px; /* Adjust as needed */
  background-color: blue; /* Your underline color */
}

/*about
.tustom-underline {
  position: relative;
  display: inline-block;
  color: black;
}

.tustom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px; 
  background-color: blue;
}
*/

